---
import Banner from "../ui/Banner.astro";
import Assets from "./Assets.astro";
import Space from "../utility/Space.astro";

/** Header top section wrapping banner, assets & space inside */
const { bannerType, banner, avatar, status, badges } = Astro.props;
---

<div class="top-section">
  <header>
    {
      bannerType === "image" ? (
        <Banner href={banner} />
      ) : bannerType === "color" ? (
        <Banner color={banner} />
      ) : null
    }
  </header>
  <Assets avatar={avatar} status={status} badges={badges} />
  {/* Discord uses 76 over the spacing system */}
  <Space space={76} />
</div>